# Free Agent dataframes

En este apartado creamos la base de datos de los agente libres, pero agregada por equipo. Las secciones mostradas tienen los siguientes propósitos:
- Visualización de la data base.
- Creación de la base de datos de corte transversal con todos los datos para los agentes libres.

Importemos los modulos necesarios así como especificar la configuración deseada.

In [1]:
import pandas as pd
import numpy as np
import math
import os
import warnings
print('Modulos importados')

Modulos importados

In [2]:
# Configuraciones
warnings.filterwarnings('ignore')
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 5

:Lo que se hará ahora es crear listas donde guardaremos los datos de interes de las bases de datos a lo largo del periodo de interes.

In [16]:
# Años de análisis
period = 11
csv = '.csv'
# Directorios
team_path = 'Data/New_Data/Teams/free_agents_team_'
pitcher_path = 'Data/New_Data/Pitchers/Free_Agent/free_agents_pitchers_'
hitter_path = 'Data/New_Data/Hitters/Free_Agent/free_agents_batters_'
# Originales:
df_team = [None]*period
df_pitcher = [None]*period
df_hitter = [None]*period
df_complete_pitcher = [None]*period
df_complete_hitter = [None]*period

Leeremos todos las bases de datos correspondientes

In [17]:
for i in range(0,period):
    df_team[i] = pd.read_csv(team_path + str(2011 + i) + csv)
    df_pitcher[i] = pd.read_csv(pitcher_path + str(2011 + i) + csv)
    df_hitter[i] = pd.read_csv(hitter_path + str(2011 + i) + csv)

Veamos algunas bases de datos con las que trabajaremos

In [7]:
df_team[4].head()

,Equipo,Cantidad_agentes_libres,Valor_contrato,Acronimo,Victorias,Juegos totales,Promedio_victorias
0,Washington Nationals,8,216000000,WSH,83,161,0.515528
1,Chicago Cubs,13,190950000,CHC,96,161,0.596273
2,Boston Red Sox,8,186500000,BOS,78,161,0.484472
3,Chicago White Sox,13,137000000,CHW,76,161,0.472050
4,New York Yankees,7,101500000,NYY,87,161,0.540373

In [8]:
df_pitcher[7].head()

,Jugador,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,Inning_pitched,Bateos,Carreras,Carreras_ganadas,Walks,Strike-outs,Wins,Losses,Saves,WHIP,ERA,Equipo,Sueldo
0,Yu Darvish,126000000,21000000,SP,8,8,40.0,36,24,22,21,49,1,3,0,1.42,4.95,CHC,25000000
1,Jake Arrieta,75000000,25000000,SP,31,31,172.7,165,93,76,57,138,10,11,0,1.29,3.96,PHI,30000000
2,Alex Cobb,57000000,14250000,SP,28,28,152.3,172,93,83,43,102,5,15,0,1.41,4.90,BAL,14000000
3,Wade Davis,52000000,17333333,RP,69,0,65.3,43,31,30,26,78,3,6,43,1.06,4.13,COL,16000000
4,Tyler Chatwood,38000000,12666667,SP,25,20,103.7,92,62,61,95,85,4,6,0,1.80,5.30,CHC,12500000

In [9]:
df_hitter[10].head()

,Jugador,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Porcetnaje_juegos,At-bats,Bateos,Home-runs,RBI,Porcentaje_bateo,OPS,Equipo,Sueldo
0,George Springer,150000000,25000000,CF,78,0.482,299,79,22,50,0.264,0.907,TOR,23666666
1,J.T. Realmuto,115500000,23100000,C,134,0.827,476,125,17,73,0.263,0.782,PHI,20000000
2,Trevor Bauer,102000000,34000000,SP,17,0.105,30,1,0,1,0.033,0.098,LAD,31333333
3,D.J. LeMahieu,90000000,15000000,3B,150,0.926,597,160,10,57,0.268,0.711,NYY,15000000
4,Marcell Ozuna,65000000,16250000,LF,48,0.298,188,40,7,26,0.213,0.645,ATL,16000000

Debido a que la columna en común son las que contienen los acrónimos de los equipos, se eliminará la columna con el nombre de los equipos en las bases de datos de los equipos con respecto a los agentes libres.

In [18]:
for i in range(0,period):
    df_team[i] = df_team[i][['Acronimo', 'Victorias', 'Juegos totales', 'Promedio_victorias']]
    names = ['Equipo', 'Victorias', 'Juegos totales', 'Promedio_victorias']
    df_team[i].columns = names

In [19]:
df_team[8].head()

  Equipo  Victorias  Juegos totales  Promedio_victorias
0    PHI         81             162            0.500000
1     SD         70             162            0.432099
2    WSH         93             162            0.574074
3    NYY        103             162            0.635802
4    LAD        105             161            0.652174

## Creación de las bases de datos con los datos completos

Se unir+an por medio de la columna de *Equipo*.

In [21]:
df_complete_pitcher[3] = pd.merge(df_pitcher[3], df_team[3], on = 'Equipo')

In [22]:
df_complete_pitcher[3]

,Jugador,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,Inning_pitched,Bateos,Carreras,Carreras_ganadas,...,Wins,Losses,Saves,WHIP,ERA,Equipo,Sueldo,Victorias,Juegos totales,Promedio_victorias
0,Matt Garza,50000000,12500000,SP,27,27,163.3,143,77,66,...,8,8,0,1.18,3.64,MIL,12500000,82,162,0.506173
1,Francisco Rodriguez,3250000,3250000,RP,69,0,68.0,49,23,23,...,5,5,44,0.99,3.04,MIL,3250000,82,162,0.506173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Pat Neshek,1000000,1000000,RP,71,0,67.3,44,14,14,...,7,2,6,0.79,1.87,STL,1000000,89,161,0.552795
67,Heath Bell,0,0,RP,13,0,17.3,24,16,14,...,1,1,0,1.85,7.27,TB,10000000,77,162,0.475309

In [25]:
for i in range(0,period):
    df_complete_pitcher[i] = pd.merge(df_pitcher[i], df_team[i], on = 'Equipo')
    df_complete_hitter[i] = pd.merge(df_hitter[i], df_team[i], on = 'Equipo')
    
    # Exportemos los dataframes por separado
    df_complete_hitter[i].to_csv('Data/New_Data/Free_Agent/Hitters/complete_free_agents_hitters' + str(2011 + i) + '.csv', index = False)
    df_complete_pitcher[i].to_csv('Data/New_Data/Free_Agent/Pitchers/complete_free_agents_pitchers' + str(2011 + i) + '.csv', index = False)

Veamos algunos de los productos finales

In [29]:
df_complete_hitter[9].head(10)

,Jugador,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Porcetnaje_juegos,At-bats,Bateos,Home-runs,RBI,Porcentaje_bateo,OPS,Equipo,Sueldo,Victorias,Juegos totales,Promedio_victorias
0,Josh Donaldson,92000000,23000000,3B,28,0.467,81,18,6,11,0.222,0.842,MIN,21000000,36,60,0.600000
1,Alex Avila,4250000,4250000,C,23,0.383,49,9,1,2,0.184,0.641,MIN,4250000,36,60,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Marcell Ozuna,18000000,18000000,LF,60,1.000,228,77,18,56,0.338,1.067,ATL,18000000,35,60,0.583333
9,Travis d'Arnaud,16000000,8000000,C,44,0.733,165,53,9,34,0.321,0.919,ATL,8000000,35,60,0.583333

In [28]:
df_complete_pitcher[9].head(10)

,Jugador,Valor_contrato,Valor_promedio_contrato,Posicion,Juegos,Juegos_iniciados,Inning_pitched,Bateos,Carreras,Carreras_ganadas,...,Wins,Losses,Saves,WHIP,ERA,Equipo,Sueldo,Victorias,Juegos totales,Promedio_victorias
0,Gerrit Cole,324000000,36000000,SP,12,11,73.0,53,27,23,...,7,3,0,0.96,2.84,NYY,36000000,33,60,0.550000
1,Stephen Strasburg,245000000,35000000,SP,2,2,5.0,8,6,6,...,0,1,0,1.80,10.80,WSH,35000000,26,62,0.419355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Madison Bumgarner,85000000,17000000,SP,9,9,41.7,47,31,30,...,1,4,0,1.44,6.48,ARI,6000000,25,60,0.416667
9,Hector Rondon,3000000,3000000,RP,23,0,20.0,25,18,17,...,1,0,0,1.80,7.65,ARI,2500000,25,60,0.416667